body {
  background-image: url("is.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 15000px;
  margin: 0 auto;
  padding: 80px;
  background-color:gray;
  background-image:url(download.jpg) ;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: black;
  font-size: 40px;

}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  padding: 25px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

li .delete {
  float: right;
  color: #cc0000;
  font-weight: bold;
  cursor: pointer;
}
